@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    background-image: url(../photo/bg-abstract.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
.mid::-webkit-scrollbar {
  display: none !important; /* for Chrome, Safari, and Opera */
  -ms-overflow-style: none !important; /* for Internet Explorer, Edge */
    scrollbar-width: none !important; /* for Firefox */
}
a{
    text-decoration: none !important;
    font-family: 'Nunito Sans', sans-serif;
    color: black !important;
  }
  li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top{
    background-color: rgba(255, 255, 255, 0.974) !important;
    position: sticky;
  }
  
  li > a:hover::after, li > a.active-nav::after {
    width: 100%;
    background: rgb(244,39,13);
  background: linear-gradient(87deg, rgba(244,39,13,1) 0%, rgba(163,34,2,1) 100%);
  }

.fa-cart-shopping, .fa-bell{
    padding: 10px;
    background-color: rgb(3, 68, 141);
    color: white;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 3px;
}
.fa-user{
    padding: 10px;
    background-color: rgb(3, 68, 141);
    color: white;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 3px;
}
ul li a{
    font-size: 1.2em;
}
.nav-cen{
    margin-left: -2%;

}
.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.all{
  margin-top: 100px !important;
}
.container-fluid header h2{
    font-size: 4vw;
}   
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card-body {
    position: relative;
    bottom: 35px
}

.btn {
    margin-top: 36px;
    margin-bottom: 45px;
    background-color: #AB47BC;
    border: none;
    color: #fff
}

.btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff
}

.header {
    padding-top: 40px
}
button.btn{
    background-color: whitesmoke;
    border: 1px solid grey;
    color: black;
    text-align: center;
}
.btnn{
    width: 100%;
    align-items: center;
    text-align: center;
}
.container-fluid{
    width: 100%;
    height: auto;
    margin-left: -15px !important;
    margin-right: -15px !important;
    margin-top: 10px;
  }
  .input-search{
    height: 40px;
    width: 40px;
    border-style: none;
    padding: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 30px;
    color:black;
  }
  .input-search::placeholder{
    color:rgb(0, 0, 0);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 50;
  }
  .btn-search{
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:rgba(53, 133, 223, 1);
    pointer-events: painted;
  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 10px 25px 25px 10px;
    background-color: white;
    border: 2px black solid !important;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .left{
    overflow: hidden !important;
  }
  .right{
    overflow: hidden !important;
  }
  .price{
    float: right;
    margin-left: 500px;
    font-size: 0.9vw;
  }
  .price i{
    color: green;
  }
  .space{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .left hr{
    margin-left: 10px;
    border: 1px rgb(40, 38, 38) solid;
    margin-bottom: 10px;
  }
  .fa-heart-circle-plus{
    color: rgba(163,34,2,1);
  }
  .fav-artist .row .col img{
    width: 40px;
    height: auto;
  }
  .contacts .row .col img{
    width: 40px;
    height: auto;
  }
  .contacts , .fav-artist .row .col p{
    font-size: 0.9vw;
    font-weight: 500;
  }
  .col-lg{
    margin-top: 10px !important;
  }